<div class="bg-slate-200 py-3 ">
    <div class="flex items-center">
      <div class="ml-10">
        <h1 class="text-black">Navbar</h1>
      </div>
      <div class="ml-5">
        <ul class="flex">
          <li class="mx-2 mt-2 p-2" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-red-300 p-2 rounded hover:bg-red-700"
          ><a  routerLink="/">Home</a></li>

          <li class="mx-2 mt-2 p-2" routerLinkActive="bg-red-300 p-2 rounded hover:bg-red-700"><a  routerLink="/nosotros">Nosotros</a></li>

          <li class="mx-2 mt-2 p-2" routerLinkActive="bg-red-300 p-2 rounded hover:bg-red-700"><a  routerLink="/contactos">Contactos</a></li>
        </ul>
      </div>
    </div>
  </div>