<div class="w-2/4 mx-auto bg-slate-100 p-2 my-5 shadow-lg shadow-gray-400 ">
    <div class="w-3/4 mx-auto">
        <div class="my-2 w-2/4 mx-auto">
            <input type="text" placeholder="Nombre" class="p-2 rounded">
        </div>
    
        <div class="my-2 w-2/4 mx-auto">
            <input type="email" placeholder="Correo electrónico" class="p-2 rounded">
        </div>
    
        <div class="my-2 w-2/4 mx-auto">
            <input type="tel" placeholder="Teléfono" class="p-2 rounded">
        </div>
    
        <div class="my-2 w-2/4 mx-auto">
            <input type="text" placeholder="Sujeto" class="p-2 rounded">
        </div>
    
        <div class="my-2 w-2/4 mx-auto">
            <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje" class="p-2 rounded"></textarea>
        </div>
    
        <div class="my-2 w-2/4 mx-auto text-center">
            <button class="bg-blue-300 p-2 rounded-lg text-white">ENVIAR</button>
        </div>
    </div>
    
</div>
